body{
    justify-items: center;
}
/*css for the input elements*/
#fill_in{
    height: 40px;
    width: 250px;
    border-radius: 6px;
    border: solid black 1px;
    margin: 15px;
}
/*css for the main div elements*/
#signin_form{
    background-color: goldenrod;
    height: 400px;
    width: 80%;
    border-radius: 20px;
    justify-items: center;
}
/*css for h1*/
h1{
    text-align: center;
    padding-top: 16px;
    font-size: 34px;
}
