body{
    justify-items: center;
    padding-top: 80px;
}
/*css for the input elements*/
#fill_in{
    height: 40px;
    width: 250px;
    border-radius: 6px;
    border: solid black 1px;
    margin: 15px;
}
/*css for the main div elements*/
#signin_form{
    background-color: goldenrod;
    height: 450px;
    width: 80%;
    border-radius: 20px;
    justify-items: center;
}
/*css for h1*/
h1{
    text-align: center;
    padding-top: 16px;
    font-size: 34px;
}
/*css for buttton element*/
.btn{
    margin-left: 99px;
    height: 36px;
    width: 38%;
    border-radius: 10px;
    border: solid black 1px;
}
/*css for checkbox and link*/
.checked{
    display: flex;
    gap: 30px;
    padding-left: 4px;
}
.checkbox{
    padding-top: 15px;
}
.option{
    padding-left: 30px;
}
/*Responsive css media queries*/
@media (max-width:1400px) {
    #signin_form{
        min-height: 300px;
        min-width:120%;
    }
    h1{
        font-size: 28px;
    }
}
@media (max-width:1000px) {
    #signin_form{
        min-height: 310px;
        min-width:120%;
    }
    h1{
        font-size: 22px;
    }
}
@media (max-width:960px) {
    #signin_form{
        min-height: 320px;
        min-width:120%;
    }
    h1{
        font-size: 20px;
    }
}
@media (max-width:780px) {
    #signin_form{
        min-height: 330px;
        min-width:120%;
    }
    h1{
        font-size: 20px;
    }
}
@media (max-width:600px) {
    #signin_form{
        min-height: 340px;
        min-width:120%;
    }
    h1{
        font-size: 19px;
    }
}
@media (max-width:300px) {
    #signin_form{
        min-height: 350px;
        width:120%;
    }
    h1{
        font-size: 19px;
    }
}

